/* App */

body {
  background-color: #ffd9d6;
}

/* Navbar */
.app-navbar {
  background-color: #FF4136;
}

.app-navbar-brand {
  color:white !important;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
  color: white !important;
}
.navbar-default .navbar-nav>.active>a {
  background-color: #cc342b !important;
  color: white !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #cc342b !important;
}

.categories-menu {
  padding: 0 10px;
  text-transform: capitalize;
}

.categories-menu a {
  color: #cc342b !important;
}
/* Post List */
.post-list-bar {
  margin-bottom: 10px;
  text-align: right;
}
/* Post Item */

.post-item {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0 15px 10px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post-item .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.post-item .btn-default {
  border:none;
}

.post-item h4 {
  color: #cc342b;
  font-size: 22px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.post-tools {
  padding: 3px 0;
  margin-top: 3px;
  border-top: 3px solid #e9ebee;
}
.post-actions .vote-box {
  margin-right: 5px;
}


.vote-button {
  margin: 0 3px;
  font-size: 20px;
  cursor: pointer;

}

.vote-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post-stats-icon {
  color: #cc342b !important;
  font-size: 20px !important;
}

.post-stats {
  font-size: 16px;
  color: gray;
}

.post-stats div {
  padding: 0 5px;
}

/* Post Details */

.post-details-content {
  background-color: white;
  padding: 0 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-details-content .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.post-details-content h2 {
  margin-top: 2px !important;
  margin-bottom: 5px !important;
}

.post-details-header {
    border-bottom: 3px double #e9ebee;
}
.post-details-content .btn-default {
  border:none;
}

.post-details-body {
  padding: 10px 2px;
  font-size: 20px;
}

/* Comment Modal */
/* Modal style taken from Udacitymeal In class project*/
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.comment-modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
}

/*Post Details*/

.post-details-header h2 {
  color: #cc342b;
}

.post-details-header span {
  padding: 0 5px;
  margin-right: 5px;
  color: gray;
  font-weight: bold;
}

.comments-list-bar {
  padding: 5px 0;
  margin-bottom: 7px;
}

/*Comments*/

.post-details-comments {
  padding: 20px;
  background-color: #fef9f8;

}

.comment-item {
  border-bottom: 1px solid #ffd9d6;;
  padding: 5px;
  margin-bottom: 5px;
}

.comment-body {
  font-size: 16px;
}

.comment-author {
  color: #cc342b;
  font-weight: bold;
  text-transform: capitalize;
}

.comment-tools {
  font-size: 14px;
  color:gray;
}

.comment-tools span {
  padding: 0 2px;
  margin: 2px;
}

.comment-actions .vote-button {
  position: relative;
  top: -5px;
}

.comment-stats {
  height: auto;
  padding: 2px 0;
}

.comment-action {
  cursor: pointer;
}

.comment-action:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Comment Modal */
  .modal-title {
    color: #cc342b;
  }

  form h4 {
    font-size: 16px !important;
    color: #cc342b;
  }

/* Post Form */

form button {
  margin-right: 20px;
}

.post-form {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 20px;
  border-radius: 10px;
  background-color:white;
}

.post-form label {
  color: #cc342b;
}

.post-form-view h3 {
  color: #cc342b;
}

@media screen and (max-width: 767px){

  .categories-menu a {
    color: white !important;
  }
}
